{{#each this}}

<div class="card-slider" data-action="{{id}}" data-img="{{poster_path}}" data-title="{{original_title}}"
    data-pop="{{popularity}}" data-v_a="{{vote_average}}" data-v_c="{{vote_count}}" data-overview="{{overview}}"
    data-genres="{{genre_ids}}">
    <div class="thumbe">
        <div class="btn-id">
            {{!-- <button data-id='{{id}}' class="btn-slider">
                <div class="btn-overlay-text" data-id='{{id}}'>
                    <h2 class="btn-text-slider" data-id='{{id}}'>Trailer</h2>
                </div>
            </button> --}}

        </div>
        <img class="slider-img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}} {{name}}"
            data-id='{{id}}' height=" auto">
    </div>
</div>
{{/each}}