<div class="film-poster-wrapper">
  <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" class="film-poster">
</div>
<div class="film-info">
  <h2 class="film-title">{{title}}</h2>
  <ul class="film-description">
    <li>Vote / Votes: {{vote_average}} / {{vote_count}}</li>
    <li>Popularity: {{popularity}}</li>
    <li>Original: Title {{original_title}}</li>
    <li>Genre: {{#each genres}} {{name}}{{/each}}</li>
  </ul>
  <h3 class="about-title">About</h3>
  <p class="about-description">{{overview}}</p>
  <div class="button-add-container" style="margin-top: 20px;">
    <button class="modal-button add-t-w">add to watched</button>
    <button class="modal-button add-t-q">add to queue</button>
  </div>
</div>