{{#each this}}

<li class="photo-card" data="{{id}}" data-img="{{poster_path}}" data-title="{{original_title}}"
  data-pop="{{popularity}}" data-v_a="{{vote_average}}" data-v_c="{{vote_count}}" data-overview="{{overview}}"
  data-genres="{{genre_ids}}">
  <img loading="lazy" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{original_title}}" width="320"
    height="auto">

  <div class="photo-card-container">
    <h2 class="photo-card-title"> {{original_title}}</h2>
    <p class="photo-card-release-date">{{release_date}}</p>
    <p class="photo-card-rating"><span class="rating-span"> Rating: </span> {{vote_average}}</p>
    <p class="photo-card-genres">{{genre_ids}}</p>
  </div>
</li>
{{/each}}