{{#each this}}
<li class="photo-card">
  <img loading="lazy" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt={{original_title}} width="320"
    height="auto">
  <h2> {{original_title}} </h2>
  <h3> Release date {{release_date}} </h3>
  <h4>Rating: {{vote_average}}</h4>
</li>
{{/each}}