{{#each this}}
<li class="photo-card" data="{{id}}">
  <img loading="lazy" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt={{original_title}} width="320"
    height="auto">
  <h2 class="photo-card-title"> {{original_title}} </h2>
  <p class="photo-card-release-date"> Release date {{release_date}} </p>
  <p class="photo-card-rating"> Rating: {{vote_average}}</p>
</li>
{{/each}}